{% load static %}

<div id="books-api" class="grid-container f-h">
<h1 class="title font-kayak">Google Books API</h1>
<h3 class="subtitle" style="display:inline;">Favorited:</h3>
<h3 id="favorited" style="display:inline" class="subtitle">{{ favorited|length }}</h3>
<table class="bg-grey stack">
    <thead>
      <tr>
        <!-- <th class="subtitle bg-grey">ID</th> -->
        <th class="subtitle bg-grey">Title</th>
        <th class="subtitle bg-grey">Author</th>
        <th class="subtitle bg-grey">Published Date</th>
        <th class="subtitle bg-grey"></th>
      </tr>
    </thead>
    <tbody>
        {% for book in books.items %}
            <tr>
                {% if book.id in favorited %}
                    <!-- <td class="text bg-grey">{{ book.id }}</td> -->
                    <td class="text bg-grey">{{ book.volumeInfo.title }}</td>
                    <td class="text bg-grey">{{ book.volumeInfo.authors.0 }}</td>
                    <td class="text bg-grey">{{ book.volumeInfo.publishedDate }}</td>
                    <td class="text bg-grey">
                        <!-- <button class="button alert tiny" onclick="removeFromFavorite('{{book.id}}');">Remove from Facvorite</button> -->
                        <img width="30" src="{% static 'img/icon/kuning.png' %}" alt="" onclick="removeFromFavorite(this, '{{book.id}}');">
                    </td>
                {% else %}
                    <td class="text bg-grey">{{ book.volumeInfo.title }}</td>
                    <td class="text bg-grey">{{ book.volumeInfo.authors.0 }}</td>
                    <td class="text bg-grey">{{ book.volumeInfo.publishedDate }}</td>
                    <td class="text bg-grey">
                        <!-- <button class="button tiny" onclick="addToFavorite('{{book.id}}');">Add to Favorite</button> -->
                        <img width="30" src="{% static 'img/icon/biru.png' %}" alt="" onclick="addToFavorite(this, '{{book.id}}');">
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
