<div id="#navbar" class="top-bar bg-grey" id="responsive-menu">
    <div class="top-bar-left bg-grey">
        <ul class="menu bg-grey">
        </ul>
    </div>
    <div class="top-bar-right bg-grey">
        <ul class="menu bg-grey">
            <li class="bg-grey"><a class="white red-h" href="{% url 'index-home' %}">Home</a></li>
            <li class="bg-grey"><a disabled class="white red-h">Light mode</a></li>
            <div id='switcher' class="switch">
                <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch">
                <label id="theme-toggler" class="switch-paddle" for="exampleSwitch">
                </label>
            </div>
        </ul>
    </div>
</div>
