{% extends 'main.html' %}

{% load static %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/style8.css' %}">
{% endblock %}

{% block content %}

<div id="profile" class="bg-grey" style="height:100%;">
  <div class="grid-container align-center">
    <div class="grid-x align-center align-middle f-h">
      <div class="grid-x">
        <div class="small-12">
          <h1 class="font-kayak title">Biodata</h1>
        </div>
        <div id="accordion" class="small-12">
          <h3 class="subtitle">My Activities</h3>
          <div>
            <li class="text">Ngaji</li>
            <li class="text">Sholat</li>
          </div>
          <h3  class="subtitle">Organizations and Volunteer Experiences</h3>
          <div>
            <li class="text">Karang Taruna</li>
          </div>
          <h3 id="accordion-3" class="subtitle">Awards</h3>
          <div>
            <li class="text">1st Balap Karung</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% block extrajs %}
<script>
  $(function () {
    $("#accordion").accordion({
      collapsible: true
    });
  });
</script>
{% endblock %}


{% endblock %}
