@font-face {
    font-family: 'montserrat';
    src: url('../fonts/Montserrat-Black.ttf'),
  }
  @font-face {
    font-family: "Moon Bold";
    src: url('../fonts/Moon Bold.otf'),
  }
  @font-face {
      font-family: "Kayak Bold";
      src:url("../fonts/Kayak Sans Bold.otf");
  }
  @font-face {
      font-family: "BebasNeue";
      src:url("../fonts/BebasNeue.otf");
  }


  body {
    min-height: 100vh;
  }
  .f-h {
    min-height: 100vh;
  }
  .f-h-p {
    min-height: 100%;
  }
  .font-moon {
    font-family: "Moon Bold" !important;
  }
  .font-kayak {
    font-family: "Kayak Bold" !important;
  }
  .font-bebas {
    font-family: "BebasNeue" !important;
  }
  .font-helvetica {
    font-family: "Helvetica";
  }
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  .font-source {
    font-family: 'Source Sans Pro', sans-serif;
  }
  .font-fjalla {
    font-family: 'Fjalla One', sans-serif;
  }
  .font-ubuntu {
    font-family: 'Ubuntu', sans-serif;
 }
  .bg-light-violet {
    background-color: #E7556B;
  }
  .bg-navy {
      background-color: #12355B;
  }
  .bg-red {
    background-color: #BE1446 !important;
  }
  
  .bg-grey {
    background-color: #161616 !important;
  }
  
  .bg-black {
    background-color: black;
  }
  
  .blue {
    color: #9AB7D3 !important;
  }
  .grey {
    color: #161616 !important;
  }
  .red {
    color: #BE1446 !important;
  }
  .aqua {
      color: #56BFD9;
  }
  .yellow {
    color: #FEBF72  !important;
  }
  .green {
    color: #25B8A8;
  }
  .white {
      color: white;
  }
  a:hover, img:hover {
    color: #BE1446;
  }
  
  
  #landing-page {
    min-height: 100vh;
    /* background-image: url("/static/img/wall/kanagawa.png"); */
    background-size: cover;
  }
  
  