{% extends 'main.html' %}

{% block title %} Education {% endblock %}

{% block content %}
{% load static %}

<div id="education" class="bg-grey">
	<div class="grid-container">
		<div class="grid-x align-center align-middle f-h">
			<div class="small-12 cell">
				<div class="grid-x">
					<div class="cell small-12 text-center medium-12 large-text-left large-2 large-text-left">
						<img class="" src="{% static "img/icon/ui.png" %}" alt="My image">
					</div>
					<div class="cell small-12 text-center medium-12 large-text-left large-10 large-text-left">
						<h2 class="title font-kayak">Universitas Indonesia</h2>
						<p class="subtitle font-kayak lead">2017 - 2020</p>
						<p class="text font-kayak">
							Relevant Courseworks: Data Structures and Algorithm, Introduction to Computer Organization, Linear Algebra,
							Statistics & Probability, Web Programming & Design, Advanced Programming;
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}