{% extends 'main.html' %}

{% block title %} List Profile {% endblock %}

{% block content %}
{% load static %}
<div id="formulir" class="bg-grey">
    <div class="grid-container">
      <div class="grid-x f-h align-middle align-center grid-padding-x">
        <div class="cell small-12">
          <div class="grid-x">
            {% if message %}
              <p>{{ message }}</p>
            {% endif %}
            {% if profiles %}
              {% for profile in profiles %}
                <div class="cell large-6 medium-10">
                  <h1 class="red font-kayak">{{ profile.fullname }}</h1>
                  <h5 class="aqua font-kayak">{{ profile.username }}</h5>
                  <p class="white font-kayak">{{ profile.email }}</p>
                </div>
              {% endfor %}
            {% else %}
                <h2 class="red">Belom ada orang yang register</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

