{% extends 'main.html' %}

{% block title %} Register {% endblock %}

{% block content %}
{% load static %}
<div id="formulir" class="bg-grey">
  <form method="POST">{% csrf_token %}
    <div class="grid-container">
      <div class="grid-x f-h align-middle align-center grid-padding-x">
        <div class="cell small-12">
          <div class="grid-x">
            <div class="cell medium-12">
              <label for="fullname" class="white">Fullname
                {{ form.fullname }}
              </label>
            </div>
            <div class="cell medium-12">
              <label for="username" class="white">Username
                {{ form.username }}
              </label>
            </div>
            <div class="cell medium-12">
              <label for="email" class="white">Email</label>
              {{ form.email }}
            </div>
            <div class="cell medium-12">
              <label for="password" class="white">password</label>
              {{ form.password }}
            </div>
            <div class="cell medium-12">
                <button type="submit" id="register" class="button alert">Register</button>
            </div>
            <div class="cell small-12">
              <p class="{{ color }}">
                {{ message }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

