{% extends 'main.html' %}

{% load static %}

{% block extracss %}
{% endblock %}

{% block content %}
<div id="home" class="bg-light-violet">
  <div class="grid-container">

      <div class="grid-x align-center align-middle text-center f-h" >
        <div class="small-12 medium-4 text-center">
          <img class="" src="{% static "img/polar-me.png" %}" style="max-width :200px;" alt="My image">
        </div>
        <div class="small-12 small-only-text-center medium-8 medium-text-left">
          <h1 class="blue font-kayak">Hello my name is {{ name }}</h1>
          <article class="subtitle font-kayak">NPM : {{ npm }}</article>
          <article class="subtitle font-kayak">I am {{ age }} years old</article>
          <p class="yellow font-kayak">
            aku adalah anak gembala selalu riang serta gembira
          </p>
          <a href="http://instagram.com/nataprawiraf"><img src="{% static "img/icon/instagram.svg" %}" alt=""></a>
          <a href="http://twitter.com/nataprawiraf"><img src="{% static "img/icon/twitter.svg" %}" alt=""></a>
        </div>
      </div>

      <div class="grid-x align-center align-middle text-center f-h" >
        <div class="small-12 medium-4 text-center">
          <img class="" src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/19510520_1722156197814013_1997303375033274909_n.jpg?_nc_cat=0&oh=a2958304cc54c81457e820d81ccc55f8&oe=5C349E24" style="max-width :200px;" alt="My image">
        </div>
        <div class="small-12 small-only-text-center medium-8 medium-text-left">
          <h1 class="blue font-kayak">He is Irfan, he sat in front of me when doing ppw challange</h1>
          <article class="subtitle font-kayak">NPM : 1706039585</article>
          <article class="subtitle font-kayak">he is 19 years old</article>
          <p class="yellow font-kayak">
            He is completely a weaboo.
            He realy likes photography and he is Vice Project Officer of BETIS.
          </p>
          <a href="http://instagram.com/irfanamrl"><img src="{% static "img/icon/instagram.svg" %}" alt=""></a>
        </div>
      </div>

      <div class="grid-x align-center align-middle text-center f-h" >
        <div class="small-12 medium-4 text-center">
        </div>
        <div class="small-12 small-only-text-center medium-8 medium-text-left">
          <h1 class="blue font-kayak">There is Haidar, he sat behind me when doing ppw challange</h1>
          <article class="subtitle font-kayak">NPM : 1406558216</article>
          <article class="subtitle font-kayak">he is 22 years old</article>
          <p class="yellow font-kayak">
            He is from math departement and he took PPW class the same class as me.
            I wish I could get his pic and instagram acc:(
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}