{% extends 'main.html' %}

{% block title %} Create Jadwal {% endblock %}

{% block content %}
{% load static %}
<div id="formulir" class="bg-grey">
  <form method="POST">{% csrf_token %}
    <div class="grid-container">
      <div class="grid-x f-h align-middle align-center grid-padding-x">
        <div class="cell small-12">
          <div class="grid-x  grid-margin-x">
            {% for field in form %}
              {% if field.label == "Hari" or field.label == "Tanggal" %}
                  <div class="cell small-6 medium-6">
                    <label for="hari" class="white">{{ field.label }}
                    {{ field }}
                    </label>
                  </div>
              {% else %}
                <div class="cell small-12 medium-12">
                  <label for="hari" class="white">{{ field.label }}
                  {{ field }}
                  </label>
                </div>
              {% endif %}
            {% endfor %}
            <div class="cell small-10 medium-10">
              <label for="create_jadwal" class="button alert">Buat Jadwal
                <input type="submit" id="create_jadwal" class="show-for-sr">
              </label>
            </div>
            <div class="cell small-10 medium-6">
              <p class="{{ color }}">
                {{ message }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}

