
{% extends 'main.html' %}

{% block title %} List Jadwal {% endblock %}

{% block content %}
{% load static %}
<div id="formulir" class="bg-grey">
    <div class="grid-container">
      <div class="grid-x f-h align-middle align-center grid-padding-x">
        <div class="cell small-12">
          <div class="grid-x">
            {% if message %}
              <h1 class="{{ color }} font-kayak">{{ message }}</h1>
            {% endif %}
            {% if jadwal %}
            <div class="small-8">
              <h1 class="red">{{ jadwal.nama_kegiatan }}</h1>
              <h5 class="white font-kayak">{{ jadwal.hari }}, {{ jadwal.tanggal }}</h5>
              <h5 class="white font-kayak">{{ jadwal.kategori }}</h5>
              <h5 class="white font-kayak">{{ jadwal.tempat }}</h5>
              <a class="button alert" href="{% url 'delete_jadwal' jadwal.id %}">Delete Jadwal</a>
            </div>
            {% else %}
              Jadwal Kosong
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}


