
{% extends 'main.html' %}

{% block title %} List Jadwal {% endblock %}

{% block content %}
{% load static %}
<div id="formulir" class="bg-grey">
    <div class="grid-container">
      <div class="grid-x f-h align-middle align-center grid-padding-x">
        <div class="cell small-12">
          <div class="grid-x">
            <a class="button" href="{% url 'create_jadwal' %}"> Create a new Jadwal</a>
            <a style="margin-left:10px;" class="button alert" href="{% url 'delete_jadwal_all' %}"> Delete all jadwal</a>
            {% if message %}
              <p>{{ message }}</p>
            {% endif %}
            {% if jadwals %}
            <table class="bg-grey white">
                <thead class="bg-grey white">
                  <tr class="bg-grey">
                    <th class="bg-grey red font-kayak" width="200">Nama Kegiatan</th>
                    <th class="bg-grey red font-kayak">Hari Tanggal</th>
                    <th class="bg-grey red font-kayak">Kategori</th>
                    <th class="bg-grey red font-kayak">Tempat</th>
                  </tr>
                </thead>
                <tbody class="bg-grey white">
                  {% for jadwal in jadwals %}
                  <tr class="bg-grey">
                    <td class="white font-kayak"><a href="{% url 'get_jadwal' jadwal.id %}"> {{ jadwal.nama_kegiatan }} </a></td>
                    <td class="white font-kayak">{{ jadwal.hari }}, {{ jadwal.tanggal }}</td>
                    <td class="white font-kayak">{{ jadwal.kategori }}</td>
                    <td class="white font-kayak">{{ jadwal.tempat }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table> 
            {% else %}
              Jadwal Kosong
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}


