{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{% endblock %}</title>
	<link rel="icon" href="{% static 'img/icon/favicon.ico' %}" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
	<link rel="stylesheet" href="{% static "css/reset.css" %}">
	<link rel="stylesheet" href="{% static "css/foundation.css" %}">
	<link rel="stylesheet" href="{% static "css/styles.css" %}">
	<link rel="stylesheet" href="{% static "css/navbar.css" %}">
	<link rel="stylesheet" href="{% static "css/dark.css" %}">
	<link rel="stylesheet" href="{% static "css/splashscreen.css" %}">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
	<script src="{% static "js/vendor/foundation.js" %}" charset="utf-8"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="826761032436-84heqsodi4256ok6r7n8ad1n7a4mnitb.apps.googleusercontent.com">


	{% block extracss %}
	{% endblock %}

</head>

<div id="preloader">
		<div id="status">&nbsp;</div>
</div>

<body onload="splash(1000);">

	{% include "partials/_navbar.html" %}

	{% block content %}

	{% endblock %}


	<!-- <script src="{% static "js/vendor/jquery.js" %}" charset="utf-8"></script> -->
	<script src="{% static "js/vendor/what-input.js" %}" charset="utf-8"></script>
	<script src="{% static "js/theme-toggler.js" %}" charset="utf-8"></script>
	<script src="{% static "js/splashscreen.js" %}" charset="utf-8"></script>

	{% block extrajs %}
	{% endblock %}

</body>

</html>
